mat-toolbar {
  //background-color: #1A192E;
  border-bottom: 1px solid #4D38A2;
  position: sticky;
  height: 8%;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-icon-logo {
  color: #4D38A2;
  font-size: 30px;
}
.mat-icon-account {
  color: white;
  font-size: 25px;
}
.account-menu {
  color: #4D38A2;
  font-weight: bold;
}
.account-menu-icon {
  color: #4D38A2;
}