.sidebar-chat-container {
  width:100% !important;
  height:100% !important;
  display: flex !important;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
mat-drawer-container {
  height: 100%;
}
mat-drawer {
  width: 30%;
  display: inline-block;
  height: 100% !important;
  border-right-color: #4D38A2;
}
sidebar {
  height: 100%;
  width: 100%;
}
chat {
  display: inline-block;
  height: 100%;
  width: 100%;
}
login {
  display: inline-block;
  height: 100%;
  width: 100%;
  //border: 1px solid purple;
}
