.sidebar-chat-container {
  width:100% !important;
  height:80% !important;
  display: flex !important;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
mat-drawer-container {
  height: 92%;
  padding: 0;
}
mat-drawer-content {
  height: 100%;
}
mat-drawer {
  width: 30%;
  display: inline-block;
  height: 100% !important;
  border-right-color: #4D38A2;
}
