<mat-drawer-container>
  <mat-drawer #drawer mode="side" [opened]="sideNavOpened">
    <sidebar [participants]="participants" 
             (selectChat)="onChatSelection($event)" 
             [chatId]="currentChatId"
             (toggleSidenav)="onSidenavToggle()"
             ></sidebar>
  </mat-drawer>
  
  <mat-drawer-content>
    <chat [messages]="messages" 
          [userId]="userId" 
          [chatId]="currentChatId"
          [participant]="currentParticipant"
          [sideNavOpened]="sideNavOpened"
          (toggleSidenav)="onSidenavToggle()"
          ></chat>
  </mat-drawer-content>
</mat-drawer-container>
