.sidebar-chat-container {
  width:100%;
  height:100%;
  display: flex;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
sidebar {
  display: inline-block;
  height: 100%;
  width: 30%;
  border: 1px solid grey;
}
chat {
  display: inline-block;
  height: 100%;
  width: 70%;
}
login {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid purple;
}
