.sidebar {
  height: 100%;
  width: 100%;
}
.person {
  width: 99%;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: row;
}
.person-chosen {
  width: 99%;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: row;
}
.person-avatar {
  height: 50px;
  width: 50px;
  background-color: red;
  align-self: center;
  border-radius: 100%;
}
.person-name {
  align-self: center;
  margin-left: 10px;
}
.add-chat-block {
  text-align: center;
  padding-top: 5%;
}
.toggleSidebar {
  margin-left: 87%;
  margin-bottom: 5%;
  width: 10%;
}
.toggle-back-icon {
  font-size: 10px;
}