<div class="sidebar" [ngClass]="theme == 'dark' ? 'bg-dark': 'bg-light'">
  <button mat-icon-button color="accent" class="toggleSidebar" (click)="toggleSidebar()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div
  [class]="person.chatId==chatId ? 'person-chosen' : 'person'"
  *ngFor="let person of participants"
  (click)="selectPerson(person.chatId)"
  >
    <h2>{{person.displayName}}</h2>
  </div>
  <div class="add-chat-block">
    <button mat-fab color="primary" (click)="openProposedUsers()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
