<mat-nav-list>
  <h3>Invite via</h3>
  <a href="https://api.whatsapp.com/send?text={{this.inviteLink}}">
    <button matSuffix 
            mat-icon-button 
            aria-label="Clear" 
            color="accent">
      <mat-icon>whatsapp</mat-icon>
    </button>  
  </a>
  <a href="https://t.me/share/url?url={{this.inviteLink}}">
    <button matSuffix 
            mat-icon-button 
            aria-label="Clear" 
            color="primary">
      <mat-icon>telegram</mat-icon>
    </button>
  </a>
  
  <mat-divider></mat-divider>
  <mat-form-field class="inviteLink-block" appearance="fill">
    <mat-label>Invite by link</mat-label>
    <input matInput type="text" [(ngModel)]="inviteLink" disabled>
    <button matSuffix mat-icon-button aria-label="Clear" [cdkCopyToClipboard]="inviteLink">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</mat-nav-list>
