<mat-nav-list>
  <h3>Invite via</h3>
  <a href="https://api.whatsapp.com/send?text={{this.inviteLink}}">
    <button matSuffix 
            mat-icon-button 
            aria-label="Clear">
      <mat-icon [ngStyle]="{'color':'green'}">whatsapp</mat-icon>
    </button>  
  </a>
  <a href="https://t.me/share/url?url={{this.inviteLink}}">
    <button matSuffix 
            mat-icon-button 
            aria-label="Clear">
      <mat-icon [ngStyle]="{'color':'#0088cc'}">telegram</mat-icon>
    </button>
  </a>
  
  <mat-divider></mat-divider>
  <mat-form-field class="inviteLink-block" appearance="fill">
    <mat-label>Invite by link</mat-label>
    <input matInput type="text" [(ngModel)]="inviteLink" disabled>
    <button matSuffix mat-icon-button 
            aria-label="Clear" 
            [cdkCopyToClipboard]="inviteLink"
            matTooltip="Copy invite link"
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="1000"
            (click)="openSnackBar()"
            >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</mat-nav-list>
