/* You can add global styles to this file, and also import other style files */
html, body {
  weight: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-dark {
  background-color: #1A192E;
}

.bg-light {
  background-color: white;
}

.text-dark {
  color: #1A192E;
}

.text-light {
  color: white;
}
